<!doctype html>
<!-- Add ng-app on the html element. Name your app NarrowItDownApp -->
<html lang="en" ng-app="NarrowItDownApp">

<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

<!-- Create app.js in your project and declare an Angular module to match your
ng-app declaration -->
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body>
    <div class="container">
        <h1>Narrow Down Your Chinese Menu Choice</h1>
<!-- Declare and create a NarrowItDownController (with controller as syntax) -->
        <div ng-controller="NarrowItDownController as narrowIt">

            <div class="form-group">
                <input type="text" placeholder="search term" class="form-control" ng-model="narrowIt.search">
            </div>
            <div class="form-group narrow-button">

                <button class="btn btn-primary" ng-click="narrowIt.narrowItDown();">Narrow It Down For Me!</button>
            </div>

            <!-- Use the html clearfix from bootstrap to clear floats to the parent element -->
            <div class="clearfix"></div>

            <!-- found-items (foundItems) from calling founditems url template -->
            <found-items items="narrowIt.found" on-remove="narrowIt.removeItem(i)"></found-items>
            <!-- <found-items ng-repeat="foundItem in narrowIt.items" items="narrowIt.found" on-remove="narrowIt.removeItem(i)"></found-items> -->
        </div>
    </div>

</body>

</html>
